body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: Verdana
}

div.tooltip {
    position: absolute;
    font: 12px sans-serif;
    border: 5px #1b1e23;
    border-radius: 8px;
    pointer-events: none;
}

.cattext {
    font-family: Verdana
}

#left{
    float:left;
    width: 33%;
}
#right{
    float:left;
    width: 66%;
}