body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: Verdana
}

div.tooltip {
    position: absolute;
    font: 12px sans-serif;
    border: 5px #1b1e23;
    border-radius: 8px;
    padding: 6px;
    pointer-events: none;
}
.stattable {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding: 10px;
}

.cattext {
    font-family: Verdana
}

#master{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#top{
    float: top;
    height: 90px;
}


#left{
    float: left;
    width: 33%;
    height: 900px;
    margin-right: 10px;
}


#right{
    float: left;
    width: 800px;
    height: 900px;
}

#lda_vis{
    position: relative;
    width: 300px;
    height: 325px;
}

#legend{
    position: relative;
    width: 500px;
    height: 200px;
}

#colorlegend{
    position: relative;
    width: 500px;
    height: 50px;
}

#packedbubble{
    background-color: aquamarine;
}

#footer{
     position: fixed;
     left: 5;
     bottom: 0;
     width: 100%;
     background-color: forestgreen;
     color: white;
     text-align: center;
}

#pirate_kitty {
    position: fixed;
    height: 50px;
    width: 90%;
    left: 97%;
    bottom: 10px;
    visibility: hidden;
}